@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);



html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

body{
    margin:0;
    padding: 0;
    background-color: rgb(63, 109, 193);
    font-family: 'Lato', sans-serif;
}

header, footer {
    color : white;
    text-align: center;
    padding-top: 3rem;
}

.content-wrapper .section-container{
    text-align: center;
}

.content-wrapper .section-container .text-center{
    padding: 1rem 0;
    margin : 0 auto;
    width: 100%;
    color : white;
    display: flex;
    flex-direction: column;
}

.content-wrapper .section-container .text-center h1{
    color : white;
    padding-bottom: .5rem;
    font-size: 4rem;
    box-shadow: 4px gray;
}

.content-wrapper .section-container .header-cv{
    margin-bottom: 1rem;
}

.content-wrapper .section-container .header-cv .tetxcv{
    color: rgb(50, 115, 75);
    background-color: rgb(198, 197, 197);
    padding: .7rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.card-content .img-responsive {
    min-width: 90%;
}

.content-wrapper .section-container .text-center h3{
    padding: 1rem;
    color: rgb(145, 161, 129);
}

button {
    padding: 0.7rem 1rem;
    border-radius : 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    
}


.content-wrapper .section-container .text-center p{
    padding: .2rem;
}


.content-wrapper .section-container .text-center p a{
    color : rgb(248, 129, 10);
    margin: 2rem 1rem;
    font-size: 22px;
}



header p a, footer p a{
    color: white;
    text-decoration: none;
    margin: 3rem 1.2rem;
    font-size: 29px;
}

header p a:hover{
    border-bottom: 1px solid rgb(32, 117, 65);
    padding-bottom: .5rem;
    width: 10%;
}

.card {
    background-color: white;
    width: 90%;
    margin: 2rem auto;
    box-shadow: 2px 2px 2px 1px rgba(202, 5, 5, 0.2);
}

.card .card-block{
    padding:2rem
}

.card .card-block .card-content{
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    align-items: center;
}

.card .card-block .card-content .card-project{
    width: 450px;
}

.card .card-block .card-content .card-project img{
    width: 100%;
    cursor: pointer;
}
.card .card-block .card-content img{
    width: 200px;
    height: 200px;
    margin-right: 2rem;
}

.card .card-block .card-content .text p{
    line-height: 1.5rem ;
}

.container-card {
    width: 90%;
    margin: 0 auto;
}

.container-card .language {
    padding: 1rem;
}

.card-small {
    width: 100%;
    height: 30vh;
}

.card-small img {
    width: 100%;
    height: 30vh;
    cursor: pointer;
}

.language {
    padding: 2rem;
}

.language h2 {
    padding-bottom: 1rem;
    color: rgb(235, 228, 217);
}

.languages-cards {
    display: flex;
    justify-content: space-between;
}

.bottom-card {
    display: flex;
    width: 100%;
}
 
.flip-card {
    background-color: transparent;
    width: 330px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }


.language-experience small {
    background-color: rgb(129, 155, 129);
    color: white;
    padding: .2rem;
}

.text-center {
    text-align: center;
    display: flex;
    justify-content: center;

}

@media only screen and (max-width : 600px) {
    .bottom-card {
        display: flex;
        flex-direction: column;
    }
    .flip-card {
        margin-bottom: 0.7rem;
        width: 100%;
    }

    .card-content p .img-responsive {
        width: 100%;
    }
}